@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap');

.mainFriendsPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-style: solid; */
    /* border-color: black; */
    /* border-width: 20px; */
    height: 100vh;
    width: 100vw;
    scroll-behavior: inherit;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.notfound {
    text-transform: uppercase;
    font-family: 'Pixelify Sans', sans-serif;
    color: white;
    font-size: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: breathe infinite 1.5s;
    /* text-shadow:
    0 0 7px #ffffffc1,
    0 0 10px #fb6225,
    0 0 21px #fb6225,
    0 0 42px #fb6225,
    0 0 82px #fb6225; */
}



.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
}

.full-container{
    font-family: pixelatedFont;
    max-height: 93.1vh;
    /* overflow: scroll; */

}


.ballOne{
    position: relative;
    animation: ballOneAnimate 0.2s ease-in-out infinite;
}

.ballTwo{
    position: relative;
    animation: ballTwoAnimate 0.2s ease-in-out infinite;
}

@keyframes ballOneAnimate {
    0%{
        transform: scale(0.1);
    }

    50%{
        transform: scale(1);
    }

    100%{
        transform: scale(0.1);
    }
}

@keyframes ballTwoAnimate {
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(0.1);
    }

    100%{
        transform: scale(1);
    }
}

.mainFriendsManagementDiv{
    position: absolute;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    font-family: pixelatedFont;
}


.friendsManagementLeftSide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.friendListHeader{
    font-family: pixelatedFont;
    margin-bottom: 20px;
}

@font-face{
    font-family: pixelatedFont;
    src: url('./assets/warfare.ttf');
}

.friendsManagementRightSide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 70px;
}

.searchFriends{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-container{
    position: relative;
}

#friend-btn {
    position: absolute;
    top: 20%;
    right: 3%
}

#search-btn {
    position: absolute;
    top: 20%;
    right: 3%
}

#default-search{
    padding-left: 50px;
}

#changew{
    min-width: 100%;
    border-radius: 10px;
    border: 1px solid white;
    padding: 10px 0;
    background: none;
}

.first {
    /* text-shadow:
    0 0 7px #ffffffc1,
    0 0 10px #25fb82,
    0 0 21px #25fb82,
    0 0 42px #25fb82,
    0 0 82px #25fb82; */

    box-shadow: 
    0 0 7px #ffffffc1,
    /* 0 0 10px #25fb82, */
    /* 0 0 21px #25fb82, */
    0 0 42px #25fb82;
    /* 0 0 82px #25fb82; */
}

.second {
    /* text-shadow:
    0 0 7px #ffffffc1,
    0 0 10px #fbfb25,
    0 0 21px #fbfb25,
    0 0 42px #fbfb25,
    0 0 82px #fbfb25; */

    box-shadow:
    0 0 7px #ffffffc1,
    /* 0 0 10px #fbfb25, */
    /* 0 0 21px #fbfb25, */
    0 0 42px #fbfb25;
    /* 0 0 82px #fbfb25; */
}



@keyframes breathe {
    0% {
        text-shadow:
    0 0 7px #ffffffc1,
    0 0 10px #ff0000,
    0 0 21px #ff0000,
    0 0 42px #ff0000,
    0 0 82px #ff0000;
    }

    50% {
        text-shadow: none;
    }

    100% {
        text-shadow:
    0 0 7px #ffffffc1,
    0 0 10px #ff0000,
    0 0 21px #ff0000,
    0 0 42px #ff0000,
    0 0 82px #ff0000;
    }
}