@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap');

body {
  margin: 0;
}

.profile-background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

#ongabunga {
  position: relative;
}


.main-profile-div {
  /* overflow:auto; */
  height: 92vh;
  /* border-style: solid; */
  /* border-width: 20px; */
  /* border-radius: 10px; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  padding-top: 2.5em;
}

#container-blur {
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  color: rgb(207, 207, 207);
  text-shadow: 0 0 50px #ffffffc1;
  /* height: 83vh; */
  /* overflow: scroll; */
  border-style: solid;
  border-width: 1px;
  border-color: none;
  border-radius: 50px;
  padding-right: 5vh;
  padding-left: 5vh;
  padding-bottom: 5vh;
  padding-top: 10vh;
}


/* .profile-pic-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  background-color: white;
  transform: scale(1.3);
} */

.profile-pic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 90%;
  max-height: 90%;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 100%;
  border: 3px solid #636363;
  /* transition: all 0.25s ease; */
  /* box-shadow: 0 0 50px rgb(0, 255, 106); */
  /* animation: glow 0.5s ease-in-out infinite; */
}

/* @keyframes glow {
  0% {
      box-shadow: 0 0 50px #e71212;
  }
  50% {
    box-shadow: 10 10 50px #16e712;
  }
  100% {
    box-shadow: 0 0 50px #e71212;
  }
} */

#ongabunga:hover {

  transform: scale(1.05);
}

.profile-baseInfo{
  /* padding-left: 2em; */
  margin-bottom: 2em;
  font-family: 'Pixelify Sans', sans-serif;
}

.profile-summary {
  /* padding-left: 2em; */
  display: inline;
  max-height: 50%;
  overflow:scroll;

}
 
/* #container-blur {
  position: relative;
} 
*/

/* .container-blur::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.253);
  backdrop-filter: blur(25px); 
  z-index: -1;
} */

/* .container-blur::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(100px); 
} */


.navbar-custom {
  background-color: rgb(24, 29, 36);
}

.profile-titles {
  border-radius: 10%;
  background-color: #4049604f;
  color: #7e7e7e;
  font-size: larger;
}

.friend-image {
  max-width: 4em;
  max-height: 4em;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 100%;
  border: 1px solid #636363;
  transition: all 0.25s ease;
  margin-right: 1em;
}

.friends-list-profile-page {
  margin: 0.5em 0em;
  padding: 1em 1em;
  border-bottom: 1px solid rgba(152, 152, 152, 0.433);
  transition: all 0.1s ease-in-out;
  border-radius: 1em;
}

.friends-list-profile-page:hover {

  border: 1px solid rgba(28, 74, 212, 0.676);
  border-radius: 1em;
  transform: scale(1.1);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  /* backdrop-filter: invert(80%); */
}

.friends-list-profile-page > .friends-link{
  text-decoration: none;
  color: #cacaca;
}

.winGame{
  text-transform: uppercase;
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 2em;
  color: rgb(1, 206, 69)
}

.looseGame{
  text-transform: uppercase;
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 2em;
  color:#ed4503
}

.tieGame{
  text-transform: uppercase;
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 2em;
  color:yellow
}

.gamesPlayed{
  padding-left: 2em;
  min-width: 100%;
  background-color: #4049604f;
  min-height: 5em;
  border-radius: 10px;
}

.mute-text {
  color:  rgba(249, 249, 249, 0.627);
}

.dashboard-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.main-dashbard {
  min-height: 93.2vh;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.scroll-data{
  overflow-y: scroll;
  overflow-x: initial;
  height: 50%;
}

@font-face{
  font-family: warfareFont;
  src:url('../FriendsPageNew/assets/warfare.ttf')
}

.profileStats{
  font-family: warfareFont;
}

.statsDiv{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  transition: all 0.1s ease-in-out;
}